{{ define "header" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Jon Cody" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
        <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
        <title>Default | Index</title>
    </head>
    <body>
{{ end }}
